<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Charvak Delights</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'firstApp/style.css' %}?">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'firstApp:category_list' %}">Home</a></li>
        <li><a href="{% url 'firstApp:chef_list' %}">Chefs</a></li>
        <li><a href="{% url 'firstApp:food_list' %}">Menu</a></li>
        <li><a href="{% url 'firstApp:about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2025 Charvak Delights</p>
  </footer>
</body>
</html>